// Print-only styles.
@media print {
    .side-bar,
    .page-header {
      display: none;
    }
    .main-content {
      max-width: auto;
      margin: 1em;
    }
    .h2 {
        font-size: 999px;
      }
  }